
body {
	margin: 0;
}


.header{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    margin: 30px;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;
}


.btn.btnReset {
    background: rgb(40, 61, 123);
    border: 1px solid white;
    color: white;
}

.btn.btnReset:hover {
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;
    background: rgba(40, 61, 123, 0.5);
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 30rem;
    border: 3px solid #a2a9b1;
}

.pixelBox {
    width: 5rem;
    height: 5rem;
}

/* .pixelColor {
    width: 5rem;
    height: 5rem;
    background-color: green;
} */

.pixelBox:hover {
    width: 5rem;
    height: 5rem;
    background-color: green;
    background: var(--pixel-background-color);
}